* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 50px;
  height: 50px;
}

#container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

header {
  grid-area: header;
  background-color: #343030;
  grid-column: 1/2;
  grid-row: 1/2;
}

header h1 {
  display: inline-block;
}

#master-pane {
  grid-area: master;
  background-color: #565252;
  grid-column: 1/2;
  grid-row: 2/8;
}

#details-pane {
  grid-area: details;
  grid-column: 2/6;
  grid-row: 1/8;
  display: grid;
  align-self: center;
  justify-self: center;
}

#menuToggle {
  display: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
}
