@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
header img {
  width: 50px;
  height: 50px;
}

#container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 100px minmax(100px, auto);
}

header {
  grid-area: header;
  background-color: #343030;
  grid-column: 1/2;
  grid-row: 1/2;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
header h1 {
  display: inline-block;
  color: white;
  margin-left: 10px;
}

#master-pane {
  overflow: auto;
  grid-area: master;
  background-color: #565252;
  grid-column: 1/2;
  grid-row: 2/7;
}

#master-pane:last-child {
  background-color: tomato;
  margin-bottom: 10px;
}

#details-pane {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/7;
  height: 100vh;
}
#details-pane.active {
  grid-area: details;
  padding: 10px;
  grid-column: 2/7;
  grid-row: 1/6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  height: 100vh;
}

.mainInfo {
  display: none;
}

.mainInfo.active {
  grid-area: main;
  grid-column: 1/3;
  grid-row: 2/3;
}

.something {
  display: none;
}
.something.active {
  grid-area: some;
  grid-column: 1/3;
  grid-row: 3/5;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}

.stats {
  display: none;
}
.stats.active {
  grid-area: stats;
  grid-column: 3/6;
  grid-row: 1/6;
  background-color: #f4f4f4;
}

#details-pane #text {
  display: block;
  color: #f2f2f2;
  font-weight: bold;
  font-size: 72px;
  text-align: center;
}
#menuToggle {
  display: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: white;
  border-radius: 3px;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
}

.pokemon {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 2.5em;
}

.pokemon:hover {
  background-color: #3f3939;
  cursor: pointer;
}

.pokemon p {
  color: white;
  font-weight: 600;
}
.pokemon span {
  margin-right: 15px;
  color: #797979;
}

#pokemonImage {
  height: 100%;
  width: 340px;
}

#type {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

#name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#imgWrapper {
  height: 340px;
  width: 100%;
  background-color: #f4f4f4;
  text-align: center;
  border-radius: 5px;
}

#element,
#skill {
  width: 160px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

#element {
  background-color: #f3dd5f;
}

#skill {
  background-color: #a38c22;
}

#pokemonName {
  margin-top: 3px;
  font-weight: 700;
  font-size: 36px;
}

#pokemonNum {
  font-weight: 700;
  font-size: 24px;
  color: #c5c5c5;
}

.stat {
  background-color: white;
  display: flex;
  align-items: center;
  height: 35px;
  margin: 0 10px;
  padding: 0 10px;
  border-radius: 5px;
}

.stat > div {
  flex: 2;
}

.stat > p {
  flex: 1;
  font-weight: 600;
}

.meter {
  height: 10px;
  border-radius: 25px;
  padding: 1px;
}

.meter > span {
  max-width: 100%;
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #f06070;
}

#stats-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 350px;
}

#titleStats-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

#titleStats-wrapper > p {
  border-radius: 20px;
  font-weight: 800;
  font-size: 26px;
  padding: 5px 20px;
}

#notQuite {
  opacity: 0;
}

.abilities {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.abilities > p {
  background-color: #e38ed9;
  border-radius: 5px;
  font-weight: 600;
  padding: 5px 10px;
}

.something > div {
  width: 100%;
}
.w-h {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.w-h > div {
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
  padding: 5px 3px;
}

#sprites {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

@media screen and (max-width: 1080px) {
  .mainInfo.active {
    grid-column: 1/4;
  }

  .something.active {
    grid-column: 4/6;
    grid-row: 1/3;
    height: 90%;
    justify-content: space-evenly;
  }

  .something.active > div {
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
  }
  .stats.active {
    grid-column: 1/6;
    grid-row: 4/5;
  }

  #master-pane {
    grid-row: 2/12;
  }
}

@media screen and (max-width: 800px) {
  #details-pane.active {
    grid-column: 1/7;
    grid-row: 2/7;
  }

  #master-pane {
    display: none;
  }

  #master-pane.active {
    display: block;
    grid-column: 1/7;
    grid-row: 2/7;
  }

  header {
    grid-column: 1/7;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }

  #menuToggle {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 590px) {
  header > h1 {
    display: none;
  }

  header > img {
    margin-right: 30px;
  }

  #details-pane > .mainInfo {
    grid-column: 1/6;
  }

  #details-pane > .something {
    grid-column: 1/6;
    grid-row: 4/5;
    flex-direction: row;
  }

  #a1,
  #a2 {
    padding: 1px 10px;
  }
  #details-pane > .stats {
    grid-row: 5/6;
  }
}
